body {
	background-color: lightgray;
	font-family: Tahoma;
}

.wrapper {
	background-color: white;
	width: 30%;
	margin: 0 auto;
  padding: 30px 50px 60px; 
  box-shadow: webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

h1 {
	font-size: 20px;
	text-align: center;
}

 img {
 	width: 35%;
 	padding: 0px 30% 10px;
		}
